/bin/
/int/
/x64/
/x32/
/DoomCopy/x64/
/DoomCopy/x32/
/LevelEditor/bin/
/LevelEditor/obj/

.vs
*.map
*.bsp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out

# Valid VS Code folder
.vscode/

# Visual Studio / MSBuild
*.user
*.suo
*.ipch
*.sdf
*.opensdf

# CMake
/build/
/out/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
